*~
*.aux
*.nav
*.out
*.snm
*.gz
*.log
*.toc
*.egg
*.pyc
*-bak
data/amedas/
data/reuters/
!data/reuters/report/
lib/build/
lib/dist/
lib/nonlinearlab.egg-info/
.idea/
notebooks/.ipynb_checkpoints
nonlinearlab.egg-info/
